<h1>Editing Office</h1>

<%= form_for(@office) do |f| %>
	<fieldset class="form">
	<%= render :partial => "form", :object => f %>
  <div>
		<%= f.submit "Update" %>
	</div>
	</fieldset>
<% end %>

<%= link_to 'Show', office_path(@office) %> |
<%= link_to 'Back', offices_path %>
